#box
	margin-top 300px
	margin-left auto
	margin-right auto
	width 510px
#textinput
	font-size 50px
	font-family "Open Sans" sans-serif
	font-weight 300
	width 500px
.button
	width (500px / 3) - 5px
	height (300px / 3) - 5px
	float left
	text-align center
	background-color #AAAAAA
	margin 5px
	display block
.button p
	line-height (300px / 3) - 5px
.button :hover
	background-color #999999
	cursor pointer
.buttontext
	font-size 30px
	margin-top 0px
	height 100%
	display block
	-webkit-user-select none     
	-moz-user-select none
	-ms-user-select none;