#box
	margin-top 300px
	margin-left auto
	margin-right auto
	width 510px
#textinput
	font-size 50px
	font-family "Open Sans", sans-serif
	font-weight 300
	width 500px
	height 68px
	margin 0px
	border 0
	padding 0
.button
	width 160px
	height (220px / 3) - 5px
	float left
	text-align center
	background-color #AAAAAA
	margin 10px 10px 0 0
.button p
	line-height (204px / 3) - 5px
.button :hover
	background-color #999999
	cursor pointer
.buttontext
	font-size 30px
	margin-top 0px
	height 100%
	-webkit-user-select none     
	-moz-user-select none
	-ms-user-select none;
#playerdisplay
	background-color rgba(0, 0, 0, 0.3)
	clear both
	border-width 1px
	border-style solid
	border-color #333
	width 490px
	margin-top 10px
	float left
	color white
	padding 10px 0px 10px 10px
.votecounter
	float left
	margin 0
	height 30px
#votecounterred
	background-color #CAA200
#votecountergreen
	background-color #008800
#uptext
	background-color rgba(0, 0, 0, 0.3)
	color lightgreen
	border 1px solid #00FF00
	padding 0 5px 0 5px
#downtext
	background-color rgba(0, 0, 0, 0.3)
	color yellow
	border 1px solid #FFFF22
	padding 0 5px 0 5px
.tag
	text-align center
	padding 0
	float left
	width 151px
	height 50px
	margin-right 10px
	margin-top 5px
	background-color rgba(0, 0, 0, 0.3)
	color #AA0000
	border 1px solid #AA0000